<launch>
    <node pkg="joy" type="joy_node" name="joy_node" output="screen">
        <!-- <param name="dev_ff" value="/dev/input/event2"/>  -->
    </node>

    <node pkg="controller" type="joystick_controller_node" name="joystick_controller_node" output="screen">
        <!-- Joystick Ratio Settings -->
        <param name="controller/throttle_forward_ratio" value="-1.0"/>
        <param name="controller/throttle_reverse_ratio" value="-1.0"/>
        <param name="controller/steer_ratio" value="-1"/>
        <!-- Joystick Channel Setting-->
        <param name="throttle_axis" value="4" />
        <param name="steer_axis" value="0" />
    </node>
    <node pkg="controller" type="param_controller_node" name="param_controller_node">
    </node>
    <node pkg="actuator" type="evspin32g4_actuator_node" name="evspin32g4_actuator_node" output="screen">
        <!-- PWM Frequency and Bus Configuration -->
        <param name="bus_device" value="/dev/i2c-7" />

        <!-- Motor RPM Configuration -->
        <param name="motor_min_rpm" value="-5000" />
        <param name="motor_max_rpm" value="5000" />

        <!-- Steer Configuration -->
        <param name="steer_min_angle" value="20" />
        <param name="steer_mid_angle" value="90" />
        <param name="steer_max_angle" value="160" />
    </node>
</launch>
