<library path="lib/librqt_controller">
  <class name="rqt_controller/RQTController" type="rqt_controller::RQTController" base_class_type="rqt_gui_cpp::Plugin">
    <qtgui>
      <label>Donkey Car Controller</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>Plugin to control the DonkeyCar.</statustip>
    </qtgui>
    <description>
      This plugin provides a graphical interface to control the DonkeyCar robot.
    </description>
  </class>
</library>