from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("steer_min_angle", int_t, 1, "The servo's minimum rotation angle", 30, 0, 180)
gen.add("steer_mid_angle", int_t, 1, "The servo's maximum rotation angle", 90, 0, 180)
gen.add("steer_max_angle", int_t, 1, "The midpoint angle of the servo", 120, 0, 180)

gen.add("motor_min_rpm", int_t, 2, "The minimum RPM of the motor", -5000, -20000, 0)
gen.add("motor_max_rpm", int_t, 2, "The maximum RPH of the motor", 5000, 0, 20000)

gen.add("bus_device", str_t, 4, "The device file name of the I2C bus to which the PCA9685 is connected", "/dev/i2c-1")
# gen.add("device_address", str_t, 2, "PCA9685's I2C bus address", "0x40")

exit(gen.generate("actuator", "evspin32g4_actuator_node", "EVSPIN32G4Actuator"))