<launch>
    <node pkg="joy" type="joy_node" name="joy_node" output="screen">
        <param name="dev_ff" value="/dev/input/event2"/> 
    </node>
    
    <node pkg="controller" type="joystick_controller_node" name="joystick_controller_node" output="screen">
        <!-- Controller Ratio Settings -->
        <param name="throttle_ratio" value="0.6"/>
        <param name="steer_ratio" value="-1"/>
        <!-- Joystick Channel Setting-->
        <param name="throttle_axis" value="4" />
        <param name="steer_axis" value="0" />
    </node>
    <node pkg="actuator" type="pca9685_actuator_node" name="pca9685_actuator_node" output="screen">
        <!-- PWM Frequency and Bus Configuration -->
        <param name="bus_number" value="1" />
        <param name="pwm_frequency" value="60" />

        <!-- Throttle Configuration -->
        <param name="throttle_pwm_channel" value="0" />
        <param name="throttle_min_pulsewidth" value="1000" />
        <param name="throttle_max_pulsewidth" value="2000" />
        <param name="throttle_mid_pulsewidth" value="1500" />

        <!-- Steer Configuration -->
        <param name="steer_pwm_channel" value="1" />
        <param name="steer_min_pulsewidth" value="1200" />
        <param name="steer_max_pulsewidth" value="2000" />
        <param name="steer_mid_pulsewidth" value="1600" />
    </node>

    <!-- Gstreamer Pipline String for The Camera -->
    <env name="GSCAM_CONFIG" value="nvarguscamerasrc ! video/x-raw(memory:NVMM), width=3264, height=2464, format=NV12, framerate=10/1 ! nvvidconv flip-method=6 ! nvvidconv ! video/x-raw, width=224, height=224, format=BGRx ! videoconvert" />

    <node pkg="gscam" type="gscam" name="camera">
        <param name="image_encoding" value="mono8"/>
    </node>

    <node pkg="controller" type="nn_controller_node" name="nn_controller_node" output="screen">
        <param name="steer_ratio" value="1"/>
        <param name="backend" value="torch"/>
        
        <param name="model_file" value="$(find donkeycar)/models/0206.onnx"/>
        <param name="roi/x" value="0"/>
        <param name="roi/y" value="80"/>
        <param name="roi/width" value="224"/>
        <param name="roi/height" value="144"/>
        <param name="input_name" value="input"/>

        <remap from="/nn_controller_node/image_raw" to="/camera/image_raw" />
    </node>

    <!-- <node pkg="controller" type="nn_controller_node" name="nn_controller_node" output="screen">
        <param name="steer_ratio" value="1"/>
        <param name="backend" value="tensorflow"/>
        <param name="model_file" value="$(find donkeycar)/models/0206"/>
        <param name="roi/x" value="0"/>
        <param name="roi/y" value="80"/>
        <param name="roi/width" value="224"/>
        <param name="roi/height" value="144"/>
        <param name="to_grayscale" value="true"/>
        <param name="input_name" value="img_in"/>

        <remap from="/nn_controller_node/image_raw" to="/camera/image_raw" />
    </node> -->
</launch>
