<launch>

    <include file="$(find donkeycar)/launch/drive.launch"/>

    <env name="GSCAM_CONFIG" value="nvarguscamerasrc 
                                    ! video/x-raw(memory:NVMM), width=3280, height=2464, format=NV12, framerate=21/1 
                                    ! nvvidconv flip-method=2
                                    ! video/x-raw, width=224, height=224, format=BGRx
                                    ! videocrop left=0 right=0 top=80 bottom=0
                                    ! videoconvert " />

    <node pkg="gscam" type="gscam" name="camera">
    </node>

    <node pkg="recorder" type="recorder_node" name="recorder_node" output="screen">
        <param name="data_folder" value="$(find donkeycar)/data/collect_%Y_%m_%d_%H_%M_%S"/>
        <param name="record_button" value="5"/>
        <param name="downsample_rate" value="30"/>
    </node>
</launch>
